<style>
body {
  background-color: #88bbbd;
  foreground-color: #88bbbd;
}
</style>

<div class="login text-center">
  <div class="card">
    <div class="card-block">


<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>